@charset "UTF-8";


*{
    margin: 0px;
    padding: 0px;
}

body{
    background-color: rgba(255, 0, 0, 0.915);
}

header{
    margin: auto;
    text-align: center;
}

header h1{
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bolder;
    font-size: 4em;
    color: white;

    text-shadow: 5px 5px 8px black;

}

img#logo {
    
    width: 100px;
    height: auto;
    padding-right: 10px;
    padding-left: 20px;
    padding-top: 60px;
    padding-bottom: 30px;
}


p {
    width: 400px;
    text-align: justify;
    margin: auto;
    color: white;
}

div#video{
    padding-top: 20px;
    text-align: center;
    margin: auto;
    
}

section h2 {
    text-align: left;
    color: white;
    font-size: 1em;
    padding-left: 10px;
}

div > img {
    width: 500px;
    height: 300px;
    border-style: groove;
    
    
}

div#imagens{
    padding-top: 50px;
    text-align: center;
}

article{
    background: white;
   
}

article > h1{
    padding-top: 30px;
    color: black;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    
}

article > p{
    font-family: 'Courier New', Courier, monospace;
    color: black;
    width: 800px;
}

footer h1 {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: white;
    font-size: 2em;
    padding-top: 10px;
    
}

